.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  background-color: #5c5c5c;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.container > div:hover {
  background-color: #2e2e2e;
}

.container > div > p {
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}